<h1>Fortune Cookies</h1>
<form [formGroup]="form" (ngSubmit)="getCookie()">
  <label for="count"> Number of Cookies</label>
  <select name="count" id="count" style="margin-right: 2vm; margin-left: 1vw;" formControlName ="count">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>    
  </select>
  <button type="submit">My Fortune</button>
</form>

<hr>

<div *ngFor="let c of cookies; let i = index">
  <p>{{c.cookie}}</p>
</div>

<h3>Hello World</h3>